@font-face {
    font-family: 'inter';
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: 'inter-bold';
    src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    margin-top: 2%;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'inter';
    background-color: skyblue;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    color: black;
    font-family: inter-bold;
    width: 150px;
    height: 60px;
    border-radius: 666px;
    border: 11px outset burlywood;
    background-color: brown;
    color: burlywood;
}

h1 {
    background-color: brown;
    color: burlywood;
    font-family: inter-bold;
    font-size: 1.5em;
    border: 21px outset burlywood;
    border-radius: 18px;
    height: 110px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1:hover {
    background-color: burlywood;
    color: brown;
    border: 21px inset brown;
    


}
a {
    text-decoration: none;
    color: black;
}

div {
    padding: 10px;
    /* border-radius: 18px; */
    display: flex;
    justify-content: center;
    /* border: 15px outset pink; */
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    margin-bottom: 5%;
    border-radius: 666px;
    border: 19px inset brown;
}

figcaption {
    margin-bottom: 5%;
    font-family: inter-bold;
}

button:hover {
    border-radius: 50px;
    border: 13px inset brown;
    background-color: burlywood;
    color: brown;
}

img:hover{
    border: 19px outset burlywood;
    cursor: pointer;
  }